* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     /*easy rem calc*/
}
html {
    font-size: 10px;
    background-color: rgba(44, 43, 43, 0.863);
}

#wrap {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
 width: 100%;
 background-color: #1F2937;
 font-size: 1.5rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
}

.nav-bar .logo{
    color: #F9FAF8;
}

.link-container ul>li { 
    display: inline;
    margin: 0 5px;
    color: #E5E7EB;
}

#main-content{
    width: 100%;
    background-color: #1F2937;

    padding: 30px 10px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}

.main-content_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content_text h2 {
    color: #F9FAF8;
    font-size: 2.4rem;
    
}

.main-content_text p {
    color: #E5E7EB;
    font-size: 1.2rem;
}

.main-content_text button {
    color: #E5E7EB;
    background-color: #3882F6;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.main-content_text button:hover {
    background-color: #3c87ff8f;
}

.main-content_imgdiv img {
    width: 100%;
}


.info-container {
    width: 100%;
    background-color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-pic{
    width: 70px;
    height: 70px;
    border: 2px solid blue;
}

.info-container p {
    width: 70px;
    text-align: center;
}